/**
Added a couple CSS properties that seemed to be a bit different color wise in Tailwind vs the FIGMA!
*/

.bg-lb {
    background: rgba(169, 214, 229, 0.25);
}

.bg-sky-blue {
    background: rgba(30, 58, 138, 0.3);
}

.avatar {
    border-radius: 50%;
    min-height: 40px;
    min-width: 40px;
    
}

.text-db {
    color: #01497C;
}

.text-lb {
    color: #89C2D9;
}

.border-db {
    border-color: #01497C;
}

.bg-db {
    background-color: #01497C;
}